html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.title {
  font-family: 'Philosopher', sans-serif; }

html, body, ::-webkit-input-placeholder {
  font-family: 'Muli', sans-serif; }

.title {
  text-align: center; }

.header ul, .header li {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.readMoreButton a, .leftColumn, .header li {
  float: left; }

html, body {
  margin: 0px;
  padding: 0px; }

p {
  font-size: 14px; }

.title {
  font-size: 3em;
  color: #fff;
  letter-spacing: 3px;
  position: absolute;
  bottom: 5%;
  left: 35%;
  color: #fff; }
  @media screen and (max-width: 1105px) {
    .title {
      position: static;
      color: #000;
      margin: 0;
      padding-top: .5em; } }

.blogItem {
  padding-top: 50px; }
  .blogItem .blogImage {
    width: 100%;
    box-shadow: 2px 2px 2px #b7beaf; }
  .blogItem .date {
    font-size: 12px;
    margin-top: 3px; }
  @media screen and (max-width: 1130px) {
    .blogItem {
      padding-top: 25px; } }

.readMoreButton a {
  font-size: 12px;
  color: #f37d65;
  text-decoration: none;
  padding-top: .75em;
  text-transform: uppercase; }
  .readMoreButton a:hover {
    text-decoration: underline; }
.readMoreButton img {
  max-width: 5%;
  margin-left: .5em; }
  .readMoreButton img:hover {
    margin-left: 1em;
    cursor: pointer;
    -webkit-transition: margin-left .2s linear; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  border: 1px solid #b7beaf; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
  border: 1px solid #dbd36d; }

input[type="color"]:active, input[type="date"]:active, input[type="datetime"]:active, input[type="datetime-local"]:active, input[type="email"]:active, input[type="month"]:active, input[type="number"]:active, input[type="password"]:active, input[type="search"]:active, input[type="tel"]:active, input[type="text"]:active, input[type="time"]:active, input[type="url"]:active, input[type="week"]:active, input:not([type]):active, textarea:active {
  border: 1px solid #f37d65; }

.commentBox {
  padding-top: 5%;
  padding-bottom: 50px;
  border-bottom: 1px solid #b7beaf; }
  .commentBox .commentHeader {
    font-size: 14px;
    font-style: italic; }
  .commentBox input {
    margin-top: 3%;
    height: 10em;
    width: 100%;
    box-shadow: 0.5px 1px 1px #b7beaf; }

::-webkit-input-placeholder {
  padding-left: 20px;
  font-size: 13px; }

.wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1105px) {
    .wrapper {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .wrapper::after {
        clear: both;
        content: "";
        display: table; } }

.leftColumn {
  background-image: -webkit-linear-gradient(transparent, rgba(219, 211, 109, 0.45)), url("../img//rocks.jpg");
  background-image: linear-gradient(transparent, rgba(219, 211, 109, 0.45)), url("../img//rocks.jpg");
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 40%; }
  @media screen and (max-width: 1105px) {
    .leftColumn {
      position: static;
      height: 10vh;
      float: none;
      width: 100%; } }

.rightColumn {
  margin-left: 40%;
  clear: both;
  width: 60%; }
  @media screen and (max-width: 1105px) {
    .rightColumn {
      margin-left: 0;
      width: 90%;
      margin: 0 auto; } }

.blogList {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .blogList::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1105px) {
    .blogList {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .blogList::after {
        clear: both;
        content: "";
        display: table; } }

.header {
  overflow: auto;
  width: 100%; }
  .header ul {
    overflow: auto;
    width: 60%; }
    @media screen and (max-width: 1105px) {
      .header ul {
        width: 60%; } }
  .header li {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style-type: none;
    padding: 2%;
    margin-right: 2em;
    border-bottom: 2px solid #f37d65; }
    .header li:hover {
      border-bottom: 3px solid #dbd36d;
      cursor: pointer;
      -webkit-transition: border-bottom .2s linear; }
    @media screen and (max-width: 1130px) {
      .header li {
        font-size: 10px; }
        .header li:first-child {
          margin-left: 15%; } }

/*# sourceMappingURL=main.css.map */
