//Fonts

%headerFont {
  font-family: 'Philosopher', sans-serif;
}

%bodyFont {
  font-family: 'Muli', sans-serif;
}


// Alignment

%centeredText {
  text-align: center;
}

%centeredBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%floatLeft {
  float: left;
}
