.wrapper {
  @include outer-container(80%);
}

.leftColumn {
  @extend %floatLeft;
  @include background-image(linear-gradient(rgba(transparent, 0),
    rgba($primary, 0.45)),url("#{$path-img}/rocks.jpg"));
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 40%;
}

.rightColumn {
  margin-left: 40%;
  clear:both;
  width: 60%;
}

.blogList {
  @include outer-container(80%);
}
