.wrapper {
  @include outer-container(80%);
  @media screen and #{$tablet} {
    @include outer-container(90%);
  }
}

.leftColumn {
  @extend %floatLeft;
  @include background-image(linear-gradient(rgba(transparent, 0),
    rgba($primary, 0.45)),url("#{$path-img}/rocks.jpg"));
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 40%;
  @media screen and #{$tablet} {
    @include background-image(linear-gradient(rgba(transparent, 0),
      rgba($primary, 0.45)),url("#{$path-img}/rocks-mobile.jpg"));
    position: static;
    height: 10vh;
    float: none;
    width: 100%;
  }
}

.rightColumn {
  margin-left: 40%;
  clear:both;
  width: 60%;
  @media screen and #{$tablet} {
    margin-left: 0;
    width: $fullWidth - 10%;
    margin: 0 auto;
  }
}

.blogList {
  @include outer-container(80%);
  @media screen and #{$tablet} {
    @include outer-container(90%);
  }
}
