.header {
  overflow: auto;
  width: 100%;
  @media screen and #{$smallDesktop} {

  }
  ul {
    @extend %centeredBlock;
    overflow: auto;
    width: 60%;
    border: 1px solid green;
    @media screen and #{$tablet} {
      width: 100%;
    }
  }
  li {
    @extend %floatLeft;
    @extend %centeredBlock;
    @include textFormat(14px, $letter-spacing: 2px);
    text-transform: uppercase;
    list-style-type: none;
    padding: 2%;
    margin-right: 2em;
    border-bottom: 2px solid $secondary;
    &:hover {
      border-bottom: 3px solid $primary;
      -webkit-transition: border-bottom .2s linear;
    }
    @media screen and #{$smallDesktop} {
      @include textFormat(10px);
    }
  }
}
