.blogItem {
  @include padding(50px null null null);
  .blogImage {
    width: $fullWidth;
    box-shadow: 2px 2px 2px $mutedColor;
    &:hover {
      @include background-image(linear-gradient(rgba(transparent, 0),
        rgba($primary, 0.45)),url("#{$path-img}/rocks.jpg"));
    }
  }
  .date {
    @include textFormat(12px);
    margin-top: 3px;
  }
  @media screen and #{$smallDesktop} {
    @include padding(25px null null null);
  }
}

.blogImage:hover {
  content: "hi";
}
