.readMoreButton {
  a {
    @include textFormat(12px, $color: $secondary);
    @extend %floatLeft;
    text-decoration: none;
    padding-top: .75em;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    width: 30px;
    margin-left: .5em;
    &:hover {
      margin-left: 1em;
      cursor: pointer;
      -webkit-transition: margin-left .2s linear;
    }
  }
}
