html, body{
  @extend %bodyFont;
  margin: 0px;
  padding: 0px;
}

p {
  @include textFormat(14px);
}

.title {
  @extend %headerFont;
  @extend %centeredText;
  @include textFormat(3em, $color: $white, $letter-spacing: 3px);
  position: absolute;
  bottom: 5%;
  left: 35%;
  color: $white;
}
