html, body{
  @extend %bodyFont;
  margin: 0px;
  padding: 0px;
}

p {
  @include textFormat(14px);
}

.title {
  @extend %headerFont;
  @extend %centeredText;
  @include textFormat(3em, $color: $white, $letter-spacing: 3px);
  @include position(absolute, null null 5% 35%);
  @media screen and #{$tablet} {
    position: static;
    margin: 0;
    padding-top: .5em;
  }
}
